* {
  box-sizing: border-box;
}

body,
.content {
  margin: 0;
  background-color: #23272a;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  display: none;
}

.main {
  color: #2a2d30;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards,
.card,
.content,
.information,
#input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards,
.content {
  border: 1px;
  border-radius: 1rem;
}

.content {
  height: 75%;
  width: 75%;
  flex-direction: column;
  background: #ffffff;
}

.cards {
  background-color: #222429;
  width: 90%;
  height: 90%;
  flex-wrap: wrap;
  padding: 4px;
  overflow: scroll;
}

.cards .card {
  background-color: #738adb;

  margin: 2px;
  border: 1px;
  border-radius: 1rem;
  cursor: pointer;
}
.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card.back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.information {
  width: 100%;
  justify-content: space-around;
}

.card.front {
  transform: rotateY(0.5turn);
  pointer-events: none;
  background-color: #fdfff5;
  border: 2px;
  border-color: #738adb;
}
.card.front > div {
  transform: rotateY(-0.5turn);
}

.card.back > * {
  pointer-events: none;
}

.card.back > div:nth-child(2) {
  display: none;
}

.card.front > div {
  display: block;
}
.card.front > div:nth-child(1) {
  display: none;
}

#input {
  width: 35%;
  margin: 2px;
  flex-direction: column;
  align-self: center;
}

#input > * {
  width: 100%;
}
